@font-face {
  font-family: "Toyota-book";
  src: url("ToyotaType-Book.woff2") format("woff2");
}

@font-face {
  font-family: "Toyota-regular";
  src: url("ToyotaType-Regular.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  font-family: "Toyota-book", Helvetica, Arial, sans-serif;
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

#container {
  position: relative;
  width: 320px;
  height: 50px;
  margin: 0px;
  overflow: hidden;
  background-color: #282830;
}

#container .element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#translation span {
  position: absolute;
  bottom: 1px;
  left: 70px;
  font-size: 3.5px;
  line-height: 7px;
}

#ml span {
  position: absolute;
  bottom: 0px;
  right: 5px;
  font-size: 4px;
  line-height: 7px;
}

#dealer .positioner {
  position: absolute;
  height: 28px;
  width: 231px;
  top: 15px;
  left: 73px;
  overflow: auto;
}

#dealer p {
  text-transform: uppercase;
  margin: 0;
  font-size: 8px;
  line-height: 9px;
}

#logo {
  position: absolute;
  top: 14px;
  left: 16px;
}

#red-bar {
  position: absolute;
  bottom: 0;
}

.regular {
  font-family: "Toyota-regular", Arial, Helvetica, sans-serif;
}

.red {
  color: #ff0022;
}
