* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

#container {
  position: relative;
  width: 300px;
  height: 600px;
  margin: 0px;
  overflow: hidden;
}

#container .element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#translation span {
  position: absolute;
  bottom: 5px;
  left: 25px;
  font-size: 6px;
  line-height: 7px;
}

#ml span {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 6px;
  line-height: 7px;
}

#dealer .positioner {
  position: absolute;
  height: 155px;
  width: 270px;
  top: 140px;
  right: 0;
  overflow: auto;
}

#dealer p {
  text-transform: uppercase;
  margin: 0;
  font-size: 19px;
  line-height: 21px;
}
